.item {
  display: flex;
  align-items: baseline;
  gap: 30px;
  background-color: gainsboro;
  border-radius: 8px;
  width: 200px;
  height: auto;
  padding: 20px 30px;
}
.status {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}
.isOnline {
  background-color: green;
}
