.statistics{
    display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 1.5em;

  text-align: center;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  cursor: pointer;
}

.stat_list{
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 8px;
    background-color: gainsboro;
    padding: 40px;
    margin-top: 0;
    list-style: none;
}

.item{
    display: block;
    text-align: center;
    align-items: center;
    width: 80px;
    padding-bottom: 10px;
}

.label{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
.percentage{
    display: flex;
    justify-content: center;
}